DATABASE=mongodb_connection_string
ACCESS_TOKEN_SECRET=generate_a_long_random_value
ACCESS_TOKEN_EXPIRES_IN=15m
SESSION_COOKIE_MAX_AGE_MS=900000
TMDB_READ_TOKEN=replace_with_a_new_rotated_tmdb_read_token
TMDB_API_BASE=https://api.themoviedb.org/3
TMDB_CACHE_TTL_MS=300000
GOOGLE_CLIENT_ID=your_google_oauth_web_client_id
FRONTEND_ORIGINS=http://localhost:4200,https://operatimebooking.netlify.app
NODE_ENV=development
